<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <style>
            
            body {
                font-family:Futura;
                font-size:100%;
                color: #090909;
                padding-left:5%;
            }
            h1 {font-size:150%}

            h2 {line-height:1em;
                font-size:125%;
                font-weight:bold;
                color:#090909;
            }
            p {
                line-height: 0.5em;
                color:#56514F;
            }
            hr {
                width:50%
            }
            .note {
            color:gray;
            }
        </style>
    </head>

    <body>
        <h2>Emisor: </h2>
        <p> Nuria Ruiz Garcia</p>
        <h2> Dirección:</h2>

        <div> 
            <p>Plaza General Vara del Rey, 5</p>
            <p>28005 Madrid</p>
        </div>
        <h2> NIF: </h2>
        <p> 52535212S<p>
        <h2> e-mail: </h2>
        <p> nuria_ruiz@yahoo.com</p>

        <h1> Factura </h1>
        <hr align="left"/>
        <h2> Numéro de Factura: </h2>
        <p>{{id}} </p>
        <h2> Fecha: </h2>
        <p> {{date}} </p>
        <h2> Facturar a: </h2>
        <div> 
            <p>Wikimedia Foundation </p> 
            <p>149 New Montgomery Street, 3rd floor </p>
            <p>San Francisco, California </p>
            <p>94105 - USA </p>
        </div>
        <h2> E-mail:</h2>
        <p> info@wikimedia.org</p>
        <h2> Descripción: </h2>
        <p> Trabajos de desarrollo de software para el equipo de análisis informático de Wikimedia.<p>
        <h2> Importe: </h2>
        <p> {{amount}} <span>&euro; </span>  </p>
        <div class="note"> OPERACIÓN NO SUJETA AL IMPUESTO SOBRE EL VALOR AÑADIDO (IVA) </div>
    </body>
</html>
